body {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #eeeeee;
}

h1 {
    padding-left: 12px;
}
input {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 30px;
    border: 2px #ccc solid;
    font-weight: bold;
    padding-left: 5px;

}